<ion-view view-title="Segnala">
  <ion-content class="padding">

            <form>
              <ion-list>
                <label class="item item-input">
                  <span class="input-label">Scrivi cosa non va....</span>
                  <input type="text"  placeholder="">
                </label>
                <button class="button button-stable button-block ">Invia....</button>
              </ion-list>
            </form>
    <div id="map" map> </div>


  </ion-content>
</ion-view>
