<ion-view view-title="Lista Segnalazioni">
  <ion-content>
    <ion-list >
      <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="s in vm.segnalazioni" type="item-text-wrap" href="#/tab/chats/{{s._id}}/{{s.title}}">

        <h2>{{s.title}}</h2>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(s)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
